

:root
{
	--clr: #219EBC;
}
    body{
	
	font-family: 'Raleway', sans-serif;
	background: var(--clr);
 
}

.navigation {
	margin-bottom: 500px;
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

}
.navigation ul{
	display: flex;
	width: 350px;
	
}

.navigation ul li{
	position: relative;
	list-style: none;
	width:70px ;
	height: 70px;
	z-index: 1;
	
}
.navigation ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigation ul li.active a .icon{
	transform: translateY(-32px);
}
.navigation ul li a .text{
	position: absolute;
	color: var(--clr);
	font-weight: 400px;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	transform: translateY(20px);
}
.navigation ul li.active a .text{
	opacity: 1;
	transform: translateY(10px)
}
#slider{
	width: 900px;
	height: 400px;
	overflow: hidden;
	position: relative;
	left: 175px;
	bottom: 320px;
	margin-right: 0px;
	border-radius: 20px ;
	border-color: black;
	background: transparent;
	
}
#slider .slides{
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
	
}
#slider .slide{
	float: left;
	list-style-type: none;
	width: 900px;
	height: 400px;
}
.quote{
	position: relative;
	width: 20px%;
	bottom: 900px;
	text-align: center;
   color: white;
}


.s2_cards{
	background-color: #F1FAEE;

		display:flex;
		align-items: center;
		justify-content: center;
	flex-direction: row;
width: 80%;
	height: 800px;
	border-color: black;
	border-radius: 20px;
		flex-wrap: wrap;
		margin-left: 150px;


}
#lab{
	color: white;
}
.s3{
		background-color: #F1FAEE;
	width: 80%;
	height: 420px;
	position: relative;
	bottom: 50px;
	margin-left: 150px;
	top: 50px;
	border-color: black;
	border-radius: 20px;
}
.textarea{
	margin: 15px 15px 15px 20px;
	height: 350px;
	width: 1000px;


}
#sub{
	
	background-color:var(--clr);
	border-color: var(--clr);
	border-radius: 10px;
	position:relative;
	left: 500px;



}
#speciality{
	position: relative;
	left: 280px;
	width: 500px;
	height: 50px;

}
label{
	position: relative;
	left: 270px;
}
